<%= form_with(model: coupon) do |form| %>
  <% if coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
        <% coupon.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= form.label :serial, '可自訂英數序號（不填此欄會產生隨機序號）' %>
    <%= form.text_field :serial %>
  </div>

  <div class="field">
    <%= form.label :title, '折價卷標題' %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :discount_description, '使用規則' %>
    <%= form.text_field :discount_description %>
  </div>

  <div class="field">
    <%= form.label :discount, '折扣金額' %>
    <%= form.number_field :discount %>
  </div>

  <div class="actions">
    <%= form.submit '新增' %>
  </div>
<% end %>
