
<p>
  <strong>折價卷標題:</strong>
  <%= @coupon.title %>
</p>

<p>
  <strong>折價卷描述:</strong>
  <%= @coupon.discount_description %>
</p>

<p>
  <strong>折扣金額:</strong>
  <%= @coupon.discount %>
</p>

<%= link_to '編輯', edit_coupon_path(@coupon) %> |
<%= link_to '返回', coupons_path %>
