<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>原始金額：</p>
  <div>
  
  <div>
      <p>使用折價卷：</p>
  <div>

  <div class="field">
    <%= form.label :price, '結帳金額：' %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit '儲存訂單' %>
  </div>
<% end %>
